.Logo{
  height: 25px;
  width: 155px;
}

.Logo2{
  height: 95px;
  width: 200px;
}

.Header{
background-color: #414141;
font-family: 'Open Sans', sans-serif;
}

.Frase{
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}
.btn{
margin-left: -4 ;
}
.Menu{
  margin-top: -1cm
}
.Desp{
  height: 20px;
  width: 20px;
}